<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" ng-show="managerButtons == 1">Manager Dashboard</a>
    <a class="navbar-brand" href="#" ng-show="managerButtons != 1">Staff Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li>
            
        </li>
        </ul>
        <button type="button" class="btn btn-success" ng-click="refreshData()" ng-show="loggedIn == 1">Refresh Data</button>
        &nbsp;
        <button type="button" class="btn btn-danger" ng-click="logOut()" ng-show="loggedIn == 1">Logout</button>
    </div>
</nav>
<br>